

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
 
.the-icons {
  font-size: 25px;
}


.block{
    padding: 20px 0px;   
}

.btn{
	background: rgb(96,191,200)!important;
	border: none;
	box-shadow: none;
	text-shadow: none!important;
	color:white;
	font-size: 16px;
}

.btn:hover{
	background: rgb(133,125,175)!important;
}

h1, h2, h3, h4{
	font-family: 'Roboto Slab', serif!important;	
}

h2{
	color:rgb(133,125,175);
	font-weight: 400;
}

h3{
	color:rgb(133,125,175);
	font-weight: 400;
}

/* NAVBAR */

.navbar-inner{
	background: rgb(96,191,200)!important;
	box-shadow: 1px solid rgb(0,0,0,.1);
	border: none!important;
}

.navbar-inner a{
	color: #fff!important;
	font-weight: 200;
	text-shadow: none!important;
}

.navbar .nav>li>a{
	padding:21px 18px 21px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	background: transparent!important;
	font-weight: 600;
	box-shadow: none!important;
	border-bottom: 3px solid #fff!important;
}

.navbar .btn-navbar{
	padding: 20px 20px;
}

.icon-bar{
	box-shadow: none!important;
	text-shadow:none!important;
}

/* O QUÊ? */

.hero-unit{
	background-image: url('../img/img-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	line-height: 25px;
}

.hero-unit h1{
	font-weight: 300;
}


a{
	font-weight: 600;
	color: rgb(96,191,200);
}

a:hover{
	font-weight: 800;
	color: rgb(96,191,200);
}

.til{
	line-height: -5px;
}


.span3 h4{
	background-color:rgb(96,191,200);
	padding: 10px;
	max-width: 10em;
	border-radius: 100px;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}

.span1{
	text-align: center;
}

/* FISIOTERAPEUTA */

.title{
	color: rgb(96,191,200);
	font-weight: 300;
}

.span4 h4{
	font-weight: 400;
	line-height: 15px;
}

.fisioterapeuta img {
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}


.fisioterapeuta img:hover {
  border-radius: 30px;
}




/* MARQUE JÁ A SUA CONSULTA */

.contactos h4{
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

.formulario{
	text-align: left;
}

.formulario input{
	box-shadow: none;
	padding: 15px 140px 15px 15px;
	min-width: 150px;
	font-size: 18px;
	font-weight: 200;
}

.formulario textarea{
	box-shadow: none;
	padding: 15px 140px 80px 15px;
	min-width: 150px;
	font-size: 18px;
	font-weight: 200;
}

.formulario button{
	padding: 12px 20px;
	font-weight: 600;
}









